// Vendor styles
@import '~bootstrap/dist/css/bootstrap.css'; 

// Global styles
body {
    height: 100vh;
    background: #F9FAFB;
    overflow: hidden;
    font-family: sans-serif;
    color: #444444;
}